/* Add a background color to the header element */
header {
    background-color: seagreen;
}
/* Add a fun background color to the main element */
main {
    background-color: slategrey;
}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */
. li {color:firebrick}
/* Add a background color to the footer element */
footer {background-color: seagreen;}